<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clue-Less</title>
    <!-- Local resources -->
    <link href="res/stylesheets/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="res/images/favicon.ico">

</head>
<body ng-app="system">
<!-- Persistent Header -->
<div class="btn-group" id="user-menu" ng-show="isAuthenticated()">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a>{{ username }}</a></li>
        <li role="separator" class="divider"></li>
        <li><a ng-click="lobby()">Lobby</a></li>
        <li><a ng-click="rules()">Rules</a></li>
        <li><a ng-click="help()">Help</a></li>
        <li><a ng-click="logout()">Logout</a></li>
    </ul>
</div>

<div ui-view></div>

<!-- Angular resources -->
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="node_modules/satellizer/dist/satellizer.min.js"></script>
<script src="node_modules/js-sha256/src/sha256.js"></script>

<!-- Angular content -->
<script src="components/system.js"></script>
<script src="components/lobby/lobby.js"></script>
<script src="components/login/login.js"></script>
<script src="components/game/game.js"></script>
<script src="components/chat/chat.js"></script>
<script src="services/config.js"></script>
<script src="services/alert.js"></script>
<script src="services/auth.js"></script>
<script src="services/game.js"></script>

<!-- Bootstrap resources -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Server resources -->
<script src="node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="node_modules/socket.io-client/dist/socket.io.js"></script>

</body>
</html>