<div class="page-header">
    <h1>Lobby <small>create or join a game</small></h1>
</div>

<div class="col-lg-10">
    <div class="well">
        <form class="form-inline" ng-submit="createGame()">
            <button type="submit" class="btn btn-success">Create Game</button>
            <input type="text" class="form-control" placeholder="game name" ng-model="GameName" required>
        </form>
    </div>
</div>

<div class="col-lg-10">
    <ul ng-show="availableGames.length == 0" class="list-group">
        <li class="list-group-item">
            <h3>No games are available</h3>
        </li>
    </ul>
    <ul class="list-group" ng-repeat="game in availableGames">
        <li class="list-group-item">
            <form class="form-inline" ng-submit="joinGame(game.gameId)">
                <button type="submit" class="btn btn-primary">Join Game</button>
                <span>{{game.gameName}} - {{game.playerCount}} of {{game.maxPlayers}} players</span>
            </form>
        </li>
    </ul>
</div>
