<span ng-repeat="alert in alerts">
    <ng-bind-html ng-bind-html="alert"></ng-bind-html>
</span>
<div class="container">
    <form class="form-signin" ng-submit="login()">
        <h3 class="form-signin-heading">Please sign in</h3>
        <input type="text" ng-model="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" ng-model="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <div class="container auth-button">
        <button class="btn btn-lg btn-primary btn-block" ng-click="authenticate('google')"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Sign in with Google</button>
    </div>
</div>