/* General page */
html {
  height: 100%;
  width: 100%;
}

head {
  height: 100px;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

/* Login form */
.form-signin {
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.auth-button {
  align-self: center;
  max-width: 310px;
}

#user-menu {
  position: absolute;
  top: 0;
  right: 0;
}

#quit-game-btn {
  top: 0;
  right: 0;
}

#footer {
  content: "Created by Null Terminators Software Group"
}

.space {
  display: block;
  min-width:40px;
  min-height:40px;
  width: auto;
  height: auto;
  overflow: auto;
  text-align: center;
  padding-top: 100%;
}

.space:hover {
  border: 1px solid red;
}

.space.room {
  background: brown;
  float: left;
}

.space.hall {
  background: sandybrown;
  float: left;
}

.space.empty {
  background: white;
  float: left;
}

.space.start {
  background: whitesmoke;
  float: left
}

.space.room span {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width:200px;
  height:300px;
  top: 165px;
  position: absolute;
  left: 56px;
  visibility: hidden;
}

.space.hall span {
  background: none;
  width:200px;
  height:300px;
  top: 165px;
  position: absolute;
  left: 56px;
  visibility: hidden;
}

.space.start span {
  background: none;
  width:200px;
  height:300px;
  top: 165px;
  position: absolute;
  left: 56px;
  visibility: hidden;
}

.space img {
  width: 50px;
  height: 70px;
  background-color: whitesmoke;
  border: 5px solid whitesmoke;
}

.space:active span {
  visibility: visible;
}

.player-container {
  background: whitesmoke;
  border-radius: 5px;
  margin: 10px;
  align-items: center;
}

.card-container {
  border-radius: 5px;
  align-items: left;
  display: inline;
}

.card-container .card {
  background: whitesmoke;
  width: 40px;
  height: 60px;
  border-radius: 5px;
  margin: 10px;
  align-items: center;
}

#chatbox {
  height: 200px;
  overflow: scroll;
}