<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Chat</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default" id="chatbox">
                <div class="panel-body">
                    <div ng-repeat="message in messages"><span class="label label-{{getStyle(message)}}"><strong>{{message.username}}</strong></span> {{message.content}} <i>({{ message.posted | date:'shortTime'}})</i></div>
                </div>
            </div>
            <form ng-submit="postMessage()" ng-controller="ChatController">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type message here..." ng-model="message">
                    <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="postMessage()">Send</button>
                        </span>
                </div>
            </form>
        </div>
    </div>
</div>