<div class="page-header">
    <h1>Game <small>{{ gameName }}</small></h1>
</div>

<span ng-repeat="alert in alerts">
    <ng-bind-html ng-bind-html="alert"></ng-bind-html>
</span>

<button type="button" class="btn btn-success btn-lg btn-block" ng-show="gameReady()" ng-click="startGame()">Start Game</button><br/>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Gameboard</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td class="space empty"></td>
                <td class="space empty"></td>
                <td class="space empty"></td>
                <td class="space empty"></td>
                <td class="space start">
                    <a>{{ locatePlayers(4).length }}</a><a ng-if="location == 4">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(4).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(4)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>

                </td>
                <td class="space empty"></td>
                <td class="space empty"></td>
            </tr>
            <tr>
                <td class="space empty"></td>
                <td class="space room">
                    <a>{{ locatePlayers(8).length }}</a><a ng-if="location == 8">*</a>
                    <span ng-style="gameboard.locations[8].style">
                        <div class="player-container" ng-if="locatePlayers(8).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Players</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(8)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space hall">
                    <a>{{ locatePlayers(9).length }}</a><a ng-if="location == 9">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(9).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(9)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space room">
                    <a>{{ locatePlayers(10).length }}</a><a ng-if="location == 10">*</a>
                    <span ng-style="gameboard.locations[10].style">
                        <div class="player-container" ng-if="locatePlayers(10).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Players</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(10)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space hall">
                    <a>{{ locatePlayers(11).length }}</a><a ng-if="location == 11">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(11).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(11)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space room">
                    <a>{{ locatePlayers(12).length }}</a><a ng-if="location == 12">*</a>
                    <span ng-style="gameboard.locations[12].style">
                        <div class="player-container" ng-if="locatePlayers(12).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Players</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(12)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space empty"></td>
            </tr>
            <tr>
                <td class="space start">
                    <a>{{ locatePlayers(14).length }}</a><a ng-if="location == 14">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(14).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(14)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>

                </td>
                <td class="space hall">
                    <a>{{ locatePlayers(15).length }}</a><a ng-if="location == 15">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(15).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(15)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space empty"></td>
                <td class="space hall">
                    <a>{{ locatePlayers(17).length }}</a><a ng-if="location == 17">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(17).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(17)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space empty"></td>
                <td class="space hall">
                    <a>{{ locatePlayers(19).length }}</a><a ng-if="location == 19">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(19).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(19)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space start">
                    <a>{{ locatePlayers(20).length }}</a><a ng-if="location == 20">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(20).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(20)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>

                </td>
            </tr>
            <tr>
                <td class="space empty"></td>
                <td class="space room">
                    <a>{{ locatePlayers(22).length }}</a><a ng-if="location == 22">*</a>
                    <span ng-style="gameboard.locations[22].style">
                        <div class="player-container" ng-if="locatePlayers(22).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Players</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(22)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space hall">
                    <a>{{ locatePlayers(23).length }}</a><a ng-if="location == 23">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(23).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(23)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space room">
                    <a>{{ locatePlayers(24).length }}</a><a ng-if="location == 24">*</a>
                    <span ng-style="gameboard.locations[24].style">
                        <div class="player-container" ng-if="locatePlayers(24).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Players</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(24)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space hall">
                    <a>{{ locatePlayers(25).length }}</a><a ng-if="location == 25">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(25).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(25)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space room">
                    <a>{{ locatePlayers(26).length }}</a><a ng-if="location == 26">*</a>
                    <span ng-style="gameboard.locations[26].style">
                        <div class="player-container" ng-if="locatePlayers(26).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Players</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(26)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space empty"></td>
            </tr>
            <tr>
                <td class="space start">
                    <a>{{ locatePlayers(28).length }}</a><a ng-if="location == 28">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(28).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(28)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>

                </td>
                <td class="space hall">
                    <a>{{ locatePlayers(29).length }}</a><a ng-if="location == 29">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(29).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(29)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space empty"></td>
                <td class="space hall">
                    <a>{{ locatePlayers(31).length }}</a><a ng-if="location == 31">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(31).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(31)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space empty"></td>
                <td class="space hall">
                    <a>{{ locatePlayers(33).length }}</a><a ng-if="location == 33">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(33).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(33)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space empty"></td>
            </tr>
            <tr>
                <td class="space empty"></td>
                <td class="space room">
                    <a>{{ locatePlayers(36).length }}</a><a ng-if="location == 36">*</a>
                    <span ng-style="gameboard.locations[36].style">
                        <div class="player-container" ng-if="locatePlayers(36).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Players</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(36)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space hall">
                    <a>{{ locatePlayers(37).length }}</a><a ng-if="location == 37">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(37).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(37)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space room">
                    <a>{{ locatePlayers(38).length }}</a><a ng-if="location == 38">*</a>
                    <span ng-style="gameboard.locations[38].style">
                        <div class="player-container" ng-if="locatePlayers(38).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Players</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(38)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space hall">
                    <a>{{ locatePlayers(39).length }}</a><a ng-if="location == 39">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(39).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(39)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space room">
                    <a>{{ locatePlayers(40).length }}</a><a ng-if="location == 40">*</a>
                    <span ng-style="gameboard.locations[40].style">
                        <div class="player-container" ng-if="locatePlayers(40).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Players</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(40)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>
                </td>
                <td class="space empty"></td>
            </tr>
            <tr>
                <td class="space empty"></td>
                <td class="space empty"></td>
                <td class="space start">
                    <a>{{ locatePlayers(44).length }}</a><a ng-if="location == 44">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(44).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(44)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>

                </td>
                <td class="space empty"></td>
                <td class="space start">
                    <a>{{ locatePlayers(46).length }}</a><a ng-if="location == 46">*</a>
                    <span>
                        <div class="player-container" ng-if="locatePlayers(46).length > 0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Player</h3>
                                </div>
                                <div class="panel-body">
                                    <img ng-repeat="player in locatePlayers(46)" src="{{ gameboard.characters[player.character].imageUrl }}">
                                </div>
                            </div>
                        </div>
                    </span>

                </td>
                <td class="space empty"></td>
                <td class="space empty"></td>
            </tr>
        </table>

        <div class="panel panel-default" ng-show="gameStarted">
            <div class="panel-heading">
                <h3 class="panel-title">Deck</h3>
            </div>
            <div class="panel-body">
                <div class="card-container">
                    <img class="card" ng-repeat="card in gameboard.deck" src="{{ card.imageUrl }}">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-success" ng-show="enableTurn && gameStarted">
    <div class="panel-heading">
        <h3 class="panel-title">Controls</h3>
    </div>
    <form class="form-inline">
        <select ng-model="disprove_card" class="form-control input-lg" ng-show="enableDisprove">
            <option ng-repeat="card in filterDisprovalCards() track by $index">{{ gameboard.deck[card].name }}</option>
        </select>
        <select ng-model="suggestion.character" class="form-control input-lg" ng-hide="enableDisprove">
            <option ng-repeat="character in gameboard.characters">{{ character.name }}</option>
        </select>
        <select ng-model="suggestion.room" class="form-control input-lg" ng-hide="enableDisprove">
            <option ng-repeat="room in gameboard.rooms">{{ room.name }}</option>
        </select>
        <select ng-model="suggestion.weapon" class="form-control input-lg" ng-hide="enableDisprove">
            <option ng-repeat="weapon in gameboard.weapons">{{ weapon.name }}</option>
        </select>
        <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-if="!enableDisprove"><a ng-click="submitAccusation()">Accusation</a></li>
                <li ng-if="!enableDisprove && (enableSuggestion || enableSpecialSuggestion) && !accuseOnly"><a ng-click="submitSuggestion()">Suggestion</a></li>
                <li ng-if="enableDisprove"><a ng-click="submitDisprove()">Disprove</a></li>
            </ul>
        </div>
        <div class="btn-group" ng-show="!enableSuggestion && !accuseOnly && !enableDisprove">
            <button class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-move"></span> Move<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-if="moves[0]"><a ng-click="moveUp()">up</a></li>
                <li ng-if="moves[1]"><a ng-click="moveRight()">right</a></li>
                <li ng-if="moves[2]"><a ng-click="moveDown()">down</a></li>
                <li ng-if="moves[3]"><a ng-click="moveLeft()">left</a></li>
                <li ng-if="moves[4]"><a ng-click="moveDiagonal()">diagonal (secret)</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-outline-primary btn-lg" ng-show="enableSuggestion || accuseOnly || (enableDisprove && !filterDisprovalCards().length)" ng-click="pass()">Pass</button>
    </form>

</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Players</h3>
    </div>
    <div class="panel-body">
        <span ng-repeat="player in players"><span class="badge">{{ player.playerName }}</span>&nbsp</span>
    </div>
</div>

<div class="panel panel-primary" ng-show="gameStarted">
    <div class="panel-heading">
        <h3 class="panel-title">Cards</h3>
    </div>
    <div class="panel-body">
        <div class="card-container">
            <img class="card" ng-repeat="card in cards" src="{{ gameboard.deck[card].imageUrl }}">
        </div>
    </div>
</div>

<chat></chat>

<button type="button" ng-click="quitGame()" class="btn btn-danger btn-lg btn-block">Quit Game</button>

